html {
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 25%, rgba(255,255,255,1) 50%, rgba(242,242,242,1) 75%, rgba(255,255,255,1) 100%);
    background-attachment: fixed;
}
p {
    font-size: 1em;
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.7);
}
#box-logo {
    width: 25vw;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
}
#box-logo a:hover {
    opacity: 0.5;
}
#box-logo img {
    width: 100%;
    height: auto;
}
#box-navbar {
    width: 55vw;
    margin: 0 auto;
    border-top: 4px solid #0071BC;
    border-bottom: 4px solid #0071BC;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
#main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#main-navbar ul {
    display: flex;
    flex-direction: row;
}
#main-navbar a {
    font-size: 1.2em;
    color: #0071BC;
    font-weight: bold;
    margin: 0 10px;
}
#main-navbar a:hover {
    opacity: 0.5;
}
#box-main_content {
    width: 55vw;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    padding: 15px;
}
.btn-social_links i {
    font-size: 1.5em;
    opacity: 0.9;
}
#btn-social_link_facebook i {
    color: #1778F2;
}
#btn-social_link_messenger i {
    color: #00C6FF;
}
#btn-social_link_email i {
    color: #575772;
}
#btn-social_link_whatsapp i {
    color: #4FCE5D;
}

#section-1_promo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#promo_1-image_box {
    text-align: center;
    width: 40%;
}
#promo_1-image_box img {
    width: 100%;

}
#promo_1-text_box {
    width: 50%;
}
#promo_1-text_box h2 {
    font-size: 1.8em;
    font-style: italic;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}
#promo_1-button a {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0071BC;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
}
#promo_1-button a:hover {
    opacity: 0.8;
}
#section-easy_steps {
    border-top: 2px solid rgba(0, 0, 0, 0.7);
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
#section-mission {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
#easy_steps-box {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
#coming_soon_images,
#easy_steps_images,
#mission_images {
    text-align: center;
}
#section-coming_soon img,
#section-mission img {
    height: 200px;
}
#section-easy_steps img {
    width: 100%;
}
#coming_soon_images,
#easy_steps_images,
#mission_images {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}
#section-easy_steps h2,
#section-mission h2,
#section-coming_soon h2 {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.7em;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}
.easy_steps-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 10px;
    margin-bottom: 10px;
    background-color: #0071BC;
    padding: 10px;
}
.easy_steps-box:hover {
    opacity: 0.8;
}
.easy_steps-box a {
    text-decoration: underline;
}
.easy_steps-box a:hover {
    opacity: 0.5;
}
.easy_steps-box p {
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
}
#section-easy_steps h3 {
    text-align: center;
    display: inline-block;
    padding: 20px;
    background-color: white;
    border-radius: 50%;
    font-weight: bold;
    color: #0071BC;
}
#easy_steps-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer {
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 0;
}
footer p {
    text-align: center;
    color: silver;
    font-size: 1.2em;
    font-weight: bold;
}
footer a {
    color: orange;
}
.ecard-items {
    width: 250px;
    padding: 10px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}
.ecard-image a:hover {
    opacity: 0.8;
}
.ecard-image img {
    width: 100%;
}
.ecard-desc {
    margin-top: 15px;
    opacity: 0.8;
}
.ecard-button {
    padding: 20px;
}
.ecard-button a {
    margin-top: 20px;
    display: block;
    width: 100%;
    background-color: rgb(56, 167, 56);
    padding: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
}
.ecard-button a:hover {
    opacity: 0.8;
}
#ecard-items-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ecard-box-title {
    font-size: 2em;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.8);
}